/* Cброс стилей @ */

body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img,abbr{border:0;}address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal;}ul li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}legend{color:#000;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}

:-ms-input-placeholder{color:#757575;}
:-webkit-input-placeholder{color:#757575;}

html, body{height:100%; font-family:OpenSans-Regular, Arial; font-size:15px; color:#000;}
a{text-decoration:none; outline:none;}
a img{border:none; outline:none;}
ul{list-style:none;}
p{margin:0 0 14px;}

/* End of  сброс стилей  */

/* @ Полезные мелочи @ */

.clear{clear: both;}

/* End of @Полезные мелочи @ */


/*--------------------------------------------FONTS------------------------------------------------------------*/


/*----------------------------------------------END FONTS--------------------------------------------------------------------*/

/*div{border:1px solid black; }*/


body{
		background: #627364; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #627364 1%, #49584b 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #627364 1%,#49584b 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #627364 1%,#49584b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/*
.line{width: 100%;}*/

/*FOR RESPONSIVE*/
.wrapper{
	max-width: 1040px; 
	min-width: 384px;
	/*margin: 0 auto;*/
	/*height: 100%;*/
	/*overflow: hidden;*/
}

.content-wrapper{
	max-width: 960px;
}

.middle{
	 margin: 0 auto;
}

header{
	width: 100%;
	height: 110px;
	background-color: #eaeaea;
	opacity: 0.9;
	z-index: 10;
	position: absolute;
}

/*.header-wrapper{
	width: 1040px;
	height: 100%;
	border:1px solid black;
}*/

/*FOR RESPONSIVE*/
.header-wrapper{
	width: 100%;
	height: 100%;
	/*border:1px solid black;*/
	/*max-width: 1060px;*/
}




/*----------------------------------------LOGO----------------------------------------------------*/
.logo{
	float: left;
	margin: 22px 0px 23px 40px;
}

/*---------------------------------------SEARCHER-------------------------------------------------*/

.searcher{
	float:right;
	position: relative;
	margin: 29px 49px 51px 18px;
}

.searcher input{
	width: 200px;
    height: 30px;
    box-shadow: 8px 8px 17px -13px #000000 inset;
}

.search-btn{
	position: absolute;
	top: 0px;
	right: 0px;
	height: 30px;
	width: 60px;
	border: none;
	background-image: url("../img/btn-search.jpg");

}


/*----------------------------------------HEADER MENU-----------------------------------------------*/

.header-menu{
	float: right;
	margin-top: 35px;
}


.header-menu ul li{
		display: inline;
		border-right: 1px solid #808080;
		padding:0px 6px 0px 9px;
		/*font-family: "Arial",sans-serif;
		font-size: 14px;
		color:#774520;*/
}
.header-menu ul li:last-child{
	border-right: none;
}

.header-menu ul li a{
		font-family: "Arial",sans-serif;
		font-size: 14px;
		color:#774520;
}
.header-menu ul li a:hover{
	color:#162d19;
}

/*------------------------------------------SLIDER SECTION----------------------------------------------*/
.slider-section{
	/*width: 1040px;*/
	/*FOR RESPONSIVE*/
	width: 100%;
	background-color: #d6d6d6;
	overflow: hidden;
	/*position: relative;*/  
}

.slider-wrapper{
	width: 100%;
	height: 520px;
	/*border: 1px solid black;*/
	position: relative;
	z-index: 1;
	-webkit-box-shadow: 0px 0px 20px 6px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 20px 6px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 20px 6px rgba(0,0,0,0.5);
}

/*.slide-text{
	background-image:url("../img/slide_text.png");
	z-index: 20;
}*/

.left-img{
	position: absolute;
	top: 110px;
	left: -190px;
}
.right-img{
	position: absolute;
	top: 110px;
	left: 575px;
}

/*FOR RESPONSIVE*/
.sl img{
	width: 100%;
	height: 520px;
}


/*--------------------------------------------MAIN SECTION-----------------------------------------------*/

.main-section{
	width: 100%;
	background: #627364; /* Old browsers */
	/*background: -moz-radial-gradient(center, ellipse cover, #627364 1%, #49584b 100%); 
	background: -webkit-radial-gradient(center, ellipse cover, #627364 1%,#49584b 100%);
	background: radial-gradient(ellipse at center, #627364 1%,#49584b 100%);*/
	padding-bottom: 100px;
}



.main-section-wrapper{
	/*width:942px*/

	/*FOR RESPONSIVE*/
	width: 100%;
	/*border: 1px solid black;*/
	position: relative;
	-webkit-box-shadow: 0px 0px 20px 6px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 20px 6px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 20px 6px rgba(0,0,0,0.5);
	/*overflow: hidden;*/
	top:-20px;
	z-index: 1;
}
.main-section-content{
	/*width:942px*/

	/*FOR RESPONSIVE*/
	/*width: 100%;*/
	border: 3px solid #e6e6e6;
	position: relative;
	background-color: #fff;
	/*overflow: hidden;*/
	display: -webkit-box;     
  	display: -moz-box;         
  	display: -ms-flexbox;      
  	display: -webkit-flex;     
 	display: flex;  


}




.left-side,.middle-side{
	background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 1%, #fefefe 68%, #f1f1f1 86%, #e7e7e7 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 1%,#fefefe 68%,#f1f1f1 86%,#e7e7e7 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 1%,#fefefe 68%,#f1f1f1 86%,#e7e7e7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}





/*---------------------------------------------------LEFT MENU----------------------------------------------------*/

.left-side{
	float:left;
	/*width:205px;*/

	/*FOR RESPONSIVE*/
	width: 25%;
	border-right: 3px solid #e6e6e6;
	/*overflow: hidden;*/

}

.left-menu{
	padding-top: 10px;
	width: 100%;

}

.left-menu li{
	margin-bottom: 10px;
	position: relative;
}

.left-menu li a {
    display: inline-block;
    padding-right:10px;
    padding-left:20px;
    width: 100%;
    line-height: 28px;
    font-size: 18px;
    font-family: "Arial",sans-serif;
    color: #964415;
	font-weight: bold;

}

.left-menu li a:hover{
	background: #6d686f; /* Old browsers */
	background: -moz-linear-gradient(left, #6d686f 1%, #ffffff 89%, #ffffff 89%, transparent); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #6d686f 1%,#ffffff 89%,#ffffff 89%,transparent); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #6d686f 1%,#ffffff 89%,#ffffff 89%,transparent); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	color:#fff;
	width: 88%;
	overflow: hidden;

}

.left-menu .triangle a:hover:after {
	content: '';
	position: absolute;
	right: 20px;
 	top: 4px;
 	display: block;
 	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8.5px 0 8.5px 13px;
	border-color: transparent transparent transparent #6d686f;
}


/*-------------------------------------------------DROPDOWN MENU---------------------------------------------------------------*/


.left-menu .dropdown{
	display: none;
	position: absolute;
	top:0;
	background-color: #78737B;
	/*
	left: 236px;*/
	left: 100%;
	/*width: 180px;*/
	width: 100%;
	overflow: hidden;
}

.left-menu .dropdown li {
	padding: 10px 15px 8px 7px;
    margin: 0 20px;
    border-bottom: 1px solid #9a969b;
    /*margin-bottom: 0px;*/
}

.left-menu li:hover .dropdown{
	display: block;
}
.left-menu .dropdown li:last-child{
	border-bottom: none;
}


.left-menu .dropdown li a {
	font-size: 14px;
	font-family: "Arial",sans-serif;
	color: #fff;
	/*text-align: center;*/
	padding-left: 0px;
	

}

.left-menu .dropdown li:hover a{
	background: none;
	text-decoration: none;
	color:#9b989d;
}

.left-menu .dropdown li a:hover{
	width: 100%;
}

.left-menu .dropdown li a:hover:after{
	background: none;
	text-decoration: none;
	content: none;
	border: none;
}


/*----------------------------------------------------------MIDDLE-CONTENT------------------------------------------------------------*/

.middle-side{
	float: left;
	width:40%;
	/*border: 1px solid black;*/
	overflow: hidden;
	border-right: 3px solid #e6e6e6;
	padding: 30px 38px 50px 40px;
}


.middle-side h1{
	font-size: 30px;
	font-family: "Georgia",sans-serif;
	color: #454545;
	padding-bottom: 15px;
}
.middle-side p{
	font-size: 18px;
	font-family: "Arial",sans-serif;
	color: #3d3d3d;
	line-height: 15px;
}

.about{
	margin-top: 20px;
}

.about a{
	color: #964415;
	font-size: 15px;
	font-family: "Arial",sans-serif;
	font-weight: bold;

}

.info-btn{
	margin-top: 25px;
	padding:22px;
	border: 3px solid #e6e6e6;
}

.info-btn button{
	padding: 15px;
	width: 100%;
	background: #ddb670; /* Old browsers */
	background: -moz-linear-gradient(top, #ddb670 12%, #c5a264 57%, #ad8e58 83%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ddb670 12%,#c5a264 57%,#ad8e58 83%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ddb670 12%,#c5a264 57%,#ad8e58 83%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.info-btn button span{
	color: #fff;
	font-size: 18px;
	font-family: "Arial",sans-serif;
}
/*----------------------------------------------------RIGHT SIDE---------------------------------*/

.right-side{
	float:left;
	width: 31%;
	/*border: 1px solid black;*/
	position: relative;
}

.right-side .tabs{
	position: absolute;
	z-index:20;
	top: -33px;
}

.tabs .tab{
	display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    margin-right: 8px;
    border-bottom: 3px solid #e6e6e6;
    background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #808080 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#808080 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#808080 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.tabs .tab:first-child{
	margin-left: 12px;

}


.tabs .tab a{
	font-family: "Arial",sans-serif;
	text-shadow: 1px 1px 2px rgba(255,255,255,1);
    font-weight: bold;
    font-size: 14px;
    color: #323332;
    padding: 0px 9px;
}


.tabs .tab:hover{
	cursor: pointer;
    background: #808080; /* Old browsers */
	background: -moz-linear-gradient(top, #808080 0%, #808080 35%, #808080 35%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #808080 0%,#808080 35%,#808080 35%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #808080 0%,#808080 35%,#808080 35%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


.tabs .active-tab{
	background: none;
    background-color: rgba(248,249,250,1);
    border-bottom-color: rgba(248,249,250,1);
}

.tabs .active-tab a{
	font-weight: bold;
    color: #6d2d09;
    font-family: "Arial",sans-serif;
}

.tabs .active-tab:hover{
	background: rgba(248,249,250,1);
}

.common-news{
	width: 100%;
	background: #f7f8fa; /* Old browsers */
	background: -moz-linear-gradient(top, #f7f8fa 3%, #fcfcfd 83%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f7f8fa 3%,#fcfcfd 83%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f7f8fa 3%,#fcfcfd 83%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.news{
	padding: 15px 10px 0 20px;
}

.news img{
	float: left;
    width: 64px;
    height: 54px;
    border: 3px solid #cccccc;
    box-sizing:content-box;
}

.news-text{
	padding-left: 15px;
    font-size: 13px;
    overflow: hidden;
}

.news a {
    color: #964415;
    text-decoration: none;
}

.news a:hover{
	color:#9b989d;
}

.news p {
	 margin-top: 8px;
    color: #666666;
}

/*------------------------------------------------FOOTER--------------------------------------------------*/

.content-footer{
	width: 100%;
	/*border: 3px solid #e6e6e6;*/
	position: relative;
	background-color: #fff;
	overflow: hidden;

}

.common-footer{
	width: 100%;
	overflow: hidden;
    background-image: url(../img/footer_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;     
	display: -moz-box;         
	display: -ms-flexbox;      
	display: -webkit-flex;     
	display: flex;  

}

.footers{
	float:left;
	padding: 21px 25px 30px 28px;
	border-right: 1px solid	#a4adab;
}

.footers:last-child{
	border-right: none;
}


.footers p {
	color: #fff;
	font-size: 16px;
	font-family: "Arial",sans-serif;
	font-weight: bold;
}


.footers a{
	color: #737468;
	font-size: 13px;
	font-family: "Arial",sans-serif;
}



.copyright{
	text-align: center;
    color: #dbdbdb;
    font-size: 13px;
}

footer{
	background-image: url(../img/footer_img2.jpg);
    background-size: cover;
    height: 127px;
    width: 100%;
 }



.menu-searcher{
	float: right;
	overflow: hidden;
}


@media screen and (max-width: 1024px){
	.wrapper{
		max-width:900px;
	}
	.content-wrapper{
		max-width: 840px;
	}

	.tabs .tab a{
	padding: 0px 6px;
	font-size: 12px;
	}

	.header-menu ul li a{
		font-size: 12px;
	}

	.right-side .tabs{
		top:-34px;
	}
}



@media screen and (max-width: 768px){
	header{
		height: 130px;
	}
	.logo{
		float:none;
		margin: 6px 0px 0px 30px;
	}

	.menu-searcher{
		float:none;
		 margin: -25px auto;
	}


	.slider-wrapper{
		height: 440px;
	}
	.content-wrapper{
	max-width: 690px;
	}

	.tabs .tab a{
		padding: 0px 4px;
		font-size: 11px;
	}

	.news-text{
		overflow: visible;
		padding-left:0px;
		font-size: 11px;
	}
	.news img{
		margin-right: 5px;
	}


	.left-menu li a{
		font-size: 16px;
	}


	.left-menu .dropdown{
		display: none;
   		position: initial;
   		background-color: inherit
	}
	.left-menu li:hover .dropdown{
		display: block;
	}

	.left-menu .dropdown li a{
	    font-size: 13px;
    	padding-left: 10px;
    	line-height: 18px;
    	color: #964415;
	}

	.left-menu .triangle a:hover:after {
		background: none;
		text-decoration: none;
		content: none;
		border: none;
	}

	.info-btn{
		    padding: 10px;
	}
	.info-btn button span {
		font-size: 16px;
	}

	.main-section{
		padding-bottom: 45px;
	}
}




@media screen and (max-width: 685px){
	.logo {
    float: none;
    margin: 6px 0px 0px 55px;
	}

	.header-menu ul li{
		padding: 0px 7px 0px 2px;
	}
	.header-menu ul li a {
    font-size: 11px;
	}

	.searcher {
		margin: 29px 25px 51px 18px;
	}

	.searcher input {
		width: 159px;
	}

	.search-btn{
		   width: 58px;
	}


	.main-section-content{
		display: block;
	} 
	.left-side{
		float: none;
		width: 100%;
	}
	.left-menu{
		overflow: hidden;
	}

	.middle-side{
		float:none;
		width: inherit;
		border:none;
	}
	.right-side{
		float:none;
		width: inherit;
	}

	.right-side .tabs {
    	top: -31px;
	}


	.tabs .tab{
		border:none;
	}

	.tabs .tab a {
		padding: 0px 10px;
		font-size: 12px;
	}



	.common-footer{
		height: 100px
	}

	.footers {
		display: none;
	}

	.news{
		overflow: hidden;
		margin-bottom: 10px;
	}

	.sl img{
		height: 300px;
	}

	.slider-wrapper{
		top:130px;
	}

}


@media screen and (max-width: 417px){
	.wrapper{
		min-width:320px;
	}

	.searcher{
		float:none;
		margin: 41px 40px 0px 40px;
	}
	.searcher input {
    	width: 100%;
	}
	.header-menu{
		float: none;
		    margin: 0px 60px 0px 70px
	}

	header{
		height: 142px;
	}

	.main-section{
		padding-bottom: 0px;
	}	
}





@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.search-btn {
		height: 31px;
		width: 60px;
	}
	.searcher input{
		width: 99%;
	}

	.info-btn{
		padding: 10px;
	}

	.info-btn button{
		border: none;
	}

}



/*@media all and (min--moz-device-pixel-ratio:0) and (min-resolution: 3e1dpcm) {
	body{
		background:black;
	}
}
*/
