/* Cброс стилей @ */

body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img,abbr{border:0;}address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal;}ul li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}legend{color:#000;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}

:-ms-input-placeholder{color:#757575;}
:-webkit-input-placeholder{color:#757575;}

html, body{height:100%; font-family:OpenSans-Regular, Arial; font-size:15px; color:#000;}
a{text-decoration:none; outline:none;}
a img{border:none; outline:none;}
ul{list-style:none;}
p{margin:0 0 14px;}

/* End of  сброс стилей  */

/* @ Полезные мелочи @ */

.clear{clear: both;}

:focus::-webkit-input-placeholder {color: transparent;} 
:focus::-moz-placeholder {color: transparent} 
:focus:-moz-placeholder {color: transparent} 
:focus:-ms-input-placeholder {color: transparent;}

/* End of @Полезные мелочи @ */


/*--------------------------------------------FONTS------------------------------------------------------------*/

@font-face{
    font-family: 'Arial Monospaced MT';
    src: url('../fonts/arial-monospaced-mt.ttf') format('truetype');
}
@font-face{
    font-family: 'MetaPlusBold';
    src: url('../fonts/metaplusbold-roman.ttf') format('truetype');
}
@font-face{
    font-family: 'MetaPlusBook-Roman';
    src: url('../fonts/metaplusbook-roman.ttf') format('truetype');
}


/*----------------------------------------------END FONTS--------------------------------------------------------------------*/


 /*@media all and  (-ms-high-contrast: none) {  
 	*::-ms-backdrop, body{
 		background-color: black;
 	}
  }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

}*/


/*div{border: 1px solid black}*/

body{
	background-color: #e0edf9;
}


/*.line{width: 100%;}*/
.wrapper{
	max-width: 960px; 
	min-width: 384px;
	margin: 0 auto;
	height: 100%;
	/*overflow: hidden;*/
}

/*.header{height:100px;}*/
.menu{margin-top: 22px;}

#line_up{
	border:4px solid #4798ea;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.indent{
 	padding-top: 50px;
 }


/*-----------------------------------------------------SEARCH--------------------------------------------------------------------*/

header .search{
	float:right;
	margin-top: 36px;
	position: relative;
	right: 0px;

}



header .search  input[type = "search"]{
	width: 100%;
	height: 40px;
	border: none;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
	border-radius: 10px;
	padding: 8px 37px 9px 15px;
}


input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

header .search  button[type = "submit"]{
	background:url("../img/full_search_r_elem.png");
	position: absolute;
	width: 45px;
	height: 40px;
	background-repeat: no-repeat;
	top:0px;
	right: 0px;
	border-radius: 0 10px 10px 0;
	border-style: none;
	cursor: pointer;
}

::-webkit-input-placeholder{
		color:#bbbbbb;
		font-family: sans-serif,serif;
		font-size: 20px;
		/*padding-left: 20px;*/

}

/*-----------------------------------------------------ENDSEARCH--------------------------------------------------------------------*/


/*----------------------------------------------------LOGO--------------------------------------------------------------------*/
header .logo{
	margin-top: 55px;
	margin-left: 20px;
}

/*--------------------------------------------------END LOGO------------------------------------------------------------------*/



/*--------------------------------------------------MENU--------------------------------------------------*/

header nav a {color:white;}

header nav{
	list-style-type: none;
	background-color: #4798ea;
	padding-left: 20px;
	border-radius: 15px;
}

header nav ul li{
	display: inline-block;
	line-height: 50px;
	margin-right: 20px;
	text-decoration: none;
	font-size: 15pt;
	font-family: 'MetaPlusBook-Roman',sans-serif;
	position: relative;

}


header nav ul li a:hover{
	color: #507bc6;
}

.drop-name{
	color:#fff;
}
header nav ul li:last-child{margin-right: 0px;}


header nav .show_menu{
	height: 50px;
	line-height: 50px;
	cursor: pointer;
	text-align: center;
	display: none;
	font-size: 15pt;
	font-family: 'MetaPlusBook-Roman',sans-serif;
	color:white;
}

.menu img{
	padding-right: 5px;
}

/*--------------------------------------------------END MENU-----------------------------------------------*/


/*-------------------------------------------DROPDOWN MENU--------------------------------------------------*/

header ul .dropdown{
	position: absolute;
	top:97%;
	width: 160px;
	/*height: 100%;*/
	margin-left: -37px;
	border: 2px solid #9bc0f5;
	border-radius: 15px;
	background-color:#cbdefa;
	display: none;
	line-height: 30px;
	z-index: 1;
}

header ul.dropdown::after, header ul.dropdown::before {
    content: '';
    position: absolute;
    background: #cbdefa;
    left: 50%; 
    top:-7px;
    width: 10px; height: 10px;
    border-left: 2px solid #9bc0f5;
    border-top: 2px solid #9bc0f5;
    transform: rotate(45deg); /* Поворачиваем на 45º */
    -webkit-transform: rotate(45deg); 
}
header ul.dropdown li {
	margin: 0px;
	padding-left: 20px;
	padding-right: 10px;
	line-height: 15px;

}

header ul li:hover .dropdown{
	display: block;
}

header ul.dropdown li:first-child {
	padding-top: 20px;
}
header ul.dropdown li:last-child {
	padding-bottom: 20px;
}




header ul.dropdown li a{
	font-size: 12pt;
	font-family: "Arial",serif;
	color:#f8872e;
	

}
header ul.dropdown li a:hover{
	color:#507bc6;
}


/*---------------------------------------------END DROPDOWN MENU---------------------------------------------------------*/


/*--------------------------------------------CONTENT----------------------------------------------------------------------*/


.inside-wrapper{
	background-color: white;
	padding: 20px;
	margin-top: 20px;
	border-radius: 15px;
	overflow: hidden;
}



/*------------------------------------------------------LEFTSIDE-------------------------------------------*/


.inside-wrapper .left{
	width: 65%;
	float:left;
	padding-right: 20px;

}


/*------------------------------------------------------SLIDER------------------------------------------------------*/

/*.sl{
	width: 600px;
	height: 300px;
}*/

.inside-wrapper .left .sl img{
	border-radius: 15px;
	border-style: none;
	width: 100%;
	height: 300px;
}


.sl video{
	width: 100%;
	border-radius: 15px;
}


/*------------------------------------------------------END SLIDER------------------------------------------------------*/



/*-------------------------------------------CONTENT LINE----------------------------*/

.content_line {
    /*border: 1px solid green;*/
    border-radius: 10px;
    padding: 17px;
    position: relative;
    background: #6753D0;
    color: #fff;
    clear: both;
    height: 5px;
   }
   .content_line::after, .content_line::before {
    content: '';
    position: absolute;
    background: #6753D0;
    left: 30px; bottom: -6px;
    width: 15px; height: 15px;
    z-index: -1; /* Прячем за основным блоком */
    transform: rotate(45deg); /* Поворачиваем на 45º */
    -webkit-transform: rotate(45deg);
     }
   .content_line::before {
    z-index: 1; /* Накладываем поверх, чтобы скрыть следы тени */
    box-shadow: none; /* Прячем тень */}

.content_line p {
	font-size: 15pt;
	font-family: "MetaPlusBook-Roman",sans-serif;
	line-height: 5px;
	font-weight: bold;
}

/*-------------------------------------------END CONTENT LINE----------------------------*/


/*-----------------------------HORIZONTAL PREVIEW-----------------------------------------*/

.horizontal_content{
	margin-top: 20px;
	overflow: hidden;
}

.horizontal_left{
	float:left;
	width: 48%;

}
/*.horizontal_left img{
	width: 95%;

}*/

.capital_p{
	color:#504CA1;
	font-size: 14pt;
	font-family: "MetaPlusBook-Roman",sans-serif;
	padding-right: 10px;
}

.capital_p a:hover{
	color:#8CC751;
}

.uncapital_p{
	font-size: 11pt;
	font-family: "MetaPlusBook-Roman",sans-serif;
	padding-right: 15px;
}


.horizontal_right{
	float:right;
	width: 48%;
}

.clear{
	clear: both;
}

/*.horizontal_right img{
	width: 95%;

}*/


/*-----------------------------END HORIZONTAL PREVIEW-----------------------------------------*/



/*-----------------------------VERTICAL PREVIEW-----------------------------------------------*/

.vertical_content{
	margin-top: 10px;
	overflow: hidden;
}

.vertical_item{
	border-top: 1px solid #B29EFF;
	padding-top: 10px;
	padding-bottom: 20px;
	float: right;
}
.vertical_item:last-child{
	padding-bottom: 0px;
}


.vertical_item img{
	float:left;
	padding-top: 20px;

}
	
.vertical_text{
	padding:15px 30px 15px 15px;
	overflow: hidden;
}


/*-----------------------------END VERTICAL PREVIEW-----------------------------------------------*/

/*---------------------------------CONTENT ICONS------------------------------------------------------*/
.content_icons{
	border:1px solid #EBEEF3;
	background-color: #EBEEF3;
	border-radius: 15px;
	overflow: hidden;
}

/*.content_icons img{
	padding: 10px 0px 15px 20px;
}*/

.icon{
	float: left;
	padding: 10px 10px 5px 20px;
}

.icon_text{
	color: #647F9A;
	font-size: 5pt;
	font-family: 'Arial Monospaced MT',sans-serif;
	text-align: center;
	margin: 0px;
}

.inner_content_icons{
	overflow: hidden;
	margin: 0;
}

/*p.icon_text{
	margin: 0px;
	padding:0px;
}
*/
/*---------------------------------------END CONTENT ICONS--------------------------------------------------*/


/*------------------------------------FINISH LEFT CONTAINER-------------------------------------------------*/

.finish_container{
	margin-top: 20px;
}

.nav_bar_fin{
	border: 1px solid #EBEEF3;
	background-color: #EBEEF3;
	border-radius: 10px;
	margin-bottom: 20px;
	position: relative;
}

.nav_bar_fin .sky_triangle {
    /*border: 1px solid green;*/
    border-radius: 7px;
    /*padding: 20px;*/
    position: relative;
    background: #90A0FF;
    color: #fff;
    height: 30px;
    position: absolute;
    width: 100%;

   }
 .nav_bar_fin .sky_triangle::after, .nav_bar_fin .sky_triangle::before {
    content: '';
    position: absolute;
    background: #90A0FF;
    left: 30px; bottom: -7px;
    width: 17px; height: 17px;
    z-index: -1; /* Прячем за основным блоком */
    transform: rotate(45deg); /* Поворачиваем на 45º */
    -webkit-transform: rotate(45deg);
     }
 .nav_bar_fin .sky_triangle::before {
    z-index: 1; /* Накладываем поверх, чтобы скрыть следы тени */
    box-shadow: none; /* Прячем тень */}

 .nav_bar_fin .sky_triangle span{
 	font-size: 13pt;
	font-family: 'MetaPlusBold',sans-serif;
	padding: 21px;
    line-height: 25px;
 }    



.nav_bar_fin p{
	padding-left: 20px;
	font-size: 10pt;
	font-family: "MetaPlusBook-Roman",sans-serif;
	color:#6682C3;

}


.page_nav{
	margin-top: 20px;
	overflow: hidden;
	width: 100%;
}

.choise_page{
	border:1px solid #ebeef2;
	background-color:  #ebeef2;
	border-radius: 10px;
	width: 290px;
	float: left;
	height: 35px;
}
.choise_page p {
	float: left;
	margin-right: 10px;	
	line-height: 35px;
	padding-left: 20px;
}

.title_pages p{
	font-family: 'Arial',sans-serif;
	font-size: 18px;
	color:#8ca3bc;
}
 
.count_pages p{
	line-height: 35px;
	font-family: 'Arial',sans-serif;
	font-size: 18px;
	color:#8ca3bc;
}





.num_pages{
	border:1px solid #fff;
	border-radius: 15px;
	background-color: #fff;
	height: 25px;
	width: 66px;
	overflow: hidden;
	float: left;
	margin-top: 5px;
}

.num_pages p{
	padding: 0px 15px 0px 15px;
	margin-top: -4px;
	border-right: 1px solid #f3f5f7;
	color:#8ea5bd;
}

.num_pages img{
	
	padding-top: 10px;
	margin-left: -5px;
}




.prev_next{
	float:right; 
	overflow: hidden;

}
.prev_next img{
	height: 10px;
	opacity: 0.60;

}

.prev{
	width: 90px;
	border:1px solid #ebeef2;
	background-color:  #ebeef2;
	border-radius: 10px;
	text-align: center;
	height: 35px;
	margin-left: 20px;
	float:left;
	line-height: 35px;*/
}
.prev a{
	color:#B4C2D1;
	font-size:14px;
}

.next{
	width: 90px;
	border:1px solid #ebeef2;
	background-color:  #ebeef2;
	border-radius: 10px;
	text-align: center;
	height: 35px;
	margin-left: 20px;
	float:right;
	line-height: 35px;
}



.next a{
	color:#B4C2D1;
	font-size:14px;
}


/*-------------------------------------END FINISH LEFT CONTAINER---------------------------------------------*/




/*------------------------------------------------------END LEFTSIDE-------------------------------------------*/



/*------------------------------------------------------RIGHTTSIDE-------------------------------------------*/
.inside-wrapper .right{
	width: 32%;
	float:right;
}


.nav_bar{
	border: 1px solid #EBEEF3;
	background-color: #EBEEF3;
	border-radius: 10px;
	margin-bottom: 20px;
	position: relative;
}


/*.inside-wrapper .right .nav_bar p{
	padding-top: 50px;
}
*/


/*---------------------------------------blue_triangle and login form---------------------------------------------------*/

.nav_bar .blue_triangle {
    /*border: 1px solid green;*/
    border-radius: 7px;
    /*padding: 20px;*/
    position: relative;
    background: #CE6DF8;
    color: #fff;
    height: 30px;
    position: absolute;
    width: 100%;

   }
 .nav_bar .blue_triangle::after, .nav_bar .blue_triangle::before {
    content: '';
    position: absolute;
    background: #CE6DF8;
    left: 30px; bottom: -7px;
    width: 17px; height: 17px;
    z-index: -1; /* Прячем за основным блоком */
    transform: rotate(45deg); /* Поворачиваем на 45º */
    -webkit-transform: rotate(45deg);
     }
 .nav_bar .blue_triangle::before {
    z-index: 1; /* Накладываем поверх, чтобы скрыть следы тени */
    box-shadow: none; /* Прячем тень */}

 .nav_bar .blue_triangle span{
 	font-size: 13pt;
	font-family: 'Arial',sans-serif;
	font-weight: bold;
	padding: 22px;
    line-height: 26px;
 }    


.right_form{
	margin: 0px 10px 10px 20px;
	overflow: hidden;

}

.right_form form input{
	width: 100%;
	/*margin-left: 10px;*/
	/*margin-right: 10px;*/
	border-radius: 10px;
	border: none;
	height: 40px;
	margin-bottom: 10px;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
	padding: 0px 15px 0px 15px;
	box-sizing: border-box;

}

.text_rs_pearl{
	font-size: 14px;
	font-family: "Arial",sans-serif;
	color:#626365;

}


/*.right_form form input[type="text"]{	padding: 0px 10px 0px 10px;}*/


::-moz-placeholder {color:#bbbbbb;
		font-family: sans-serif,serif;
		font-size: 20px;
		padding-left:20px;}



.login_btn{
	border:1px solid #9663A8;
	border-radius: 20px;
	width: 120px;
	height: 25px;
	background-color:#9663A8; 
}

.login_btn p{
		line-height: 25px;
		/*padding-left: 20px;*/
		text-align: center;
		font-size: 10pt;
		font-family: "MetaPlusBold",sans-serif;
		color:#fff;
}

  /*---------------------------------------END blue_triangle and login form---------------------------------------------------*/  


/*---------------------------------------pink_triangle---------------------------------------------------*/

.nav_bar .pink_triangle {
    /*border: 1px solid green;*/
    border-radius: 7px;
    /*padding: 20px;*/
    position: relative;
    background: #FF7777;
    color: #fff;
    height: 30px;
    position: absolute;
    width: 100%;

   }
 .nav_bar .pink_triangle::after, .nav_bar .pink_triangle::before {
    content: '';
    position: absolute;
    background: #FF7777;
    left: 30px; bottom: -7px;
    width: 17px; height: 17px;
    z-index: -1; /* Прячем за основным блоком */
    transform: rotate(45deg); /* Поворачиваем на 45º */
    -webkit-transform: rotate(45deg);
     }
 .nav_bar .pink_triangle::before {
    z-index: 1; /* Накладываем поверх, чтобы скрыть следы тени */
    box-shadow: none; /* Прячем тень */}

 .nav_bar .pink_triangle span{
 	font-size: 13pt;
	font-family: 'Arial',sans-serif;
	font-weight: bold;
	padding: 22px;
    line-height: 26px;
 }       

.horiz_rs_item{
	border-bottom: 1px solid #F48B8F;
	overflow: hidden;
	margin-bottom: 13px;
}
 
.number{
	float:left;
	font-size: 42px;
	font-weight: bold;
	padding-right: 25px;
	color:#DC6C6E;
} 
.horiz_rs_item p{
	font-size: 14px;
	font-family: "Arial",sans-serif;
	padding-top: 5px;
	color:#636363;
	overflow: hidden;
	}
.horiz_rs_link a{
		font-size: 14px;
	font-family: "Arial",sans-serif;
	padding-top: 5px;
	color:#DC6C6E;
	overflow: hidden;
}

.horiz_rs_link a:hover{
	color:#636363;
}


  /*---------------------------------------END pink_triangle---------------------------------------------------*/  


/*---------------------------------------green_triangle---------------------------------------------------*/

.nav_bar .green_triangle {
    /*border: 1px solid green;*/
    border-radius: 7px;
    /*padding: 20px;*/
    position: relative;
    background: #8CC751;
    color: #fff;
    height: 30px;
    position: absolute;
    width: 100%;

   }
 .nav_bar .green_triangle::after, .nav_bar .green_triangle::before {
    content: '';
    position: absolute;
    background: #8CC751;
    left: 30px; bottom: -7px;
    width: 17px; height: 17px;
    z-index: -1; /* Прячем за основным блоком */
    transform: rotate(45deg); /* Поворачиваем на 45º */
    -webkit-transform: rotate(45deg);
     }
 .nav_bar .green_triangle::before {
    z-index: 1; /* Накладываем поверх, чтобы скрыть следы тени */
    box-shadow: none; /* Прячем тень */}

 .nav_bar .green_triangle span{
 	font-size: 13pt;
	font-family: 'Arial',sans-serif;
	font-weight: bold;
	padding: 22px;
    line-height: 26px;
 }    


/*---------------------------------------END green_triangle---------------------------------------------------*/


/*---------------------------------------orange_triangle---------------------------------------------------*/

.nav_bar .orange_triangle {
    /*border: 1px solid green;*/
    border-radius: 7px;
    /*padding: 20px;*/
    position: relative;
    background: #FDCA4A;
    color: #fff;
    height: 30px;
    position: absolute;
    width: 100%;

   }
 .nav_bar .orange_triangle::after, .nav_bar .orange_triangle::before {
    content: '';
    position: absolute;
    background: #FDCA4A;
    left: 30px; bottom: -7px;
    width: 17px; height: 17px;
    z-index: -1; /* Прячем за основным блоком */
    transform: rotate(45deg); /* Поворачиваем на 45º */
    -webkit-transform: rotate(45deg);
     }
 .nav_bar .orange_triangle::before {
    z-index: 1; /* Накладываем поверх, чтобы скрыть следы тени */
    box-shadow: none; /* Прячем тень */}

 .nav_bar .orange_triangle span{
 	font-size: 13pt;
	font-family: 'Arial',sans-serif;
	font-weight: bold;
	padding: 22px;
    line-height: 26px;
 }

 .cloud_tags ul li{
 	float:left;
 	padding-right: 10px;

 }
.cloud_tags ul li a{
	color:#ffa927;
	font-family: 'Arial',sans-serif;
	line-height: 10px;
}

 .cloud_tags ul li a.size1{
 	font-size: 14px;
  } 
  .cloud_tags ul li a.size2{
 	font-size: 16px;
  }    

.cloud_tags ul li a.size3{
 	font-size: 18px;
 	font-weight: bold;
  }    
   
.cloud_tags ul li a.size4{
 	font-size: 20px;
  }    


/*---------------------------------------END orange_triangle---------------------------------------------------*/




/*------------------------------------------------------END RIGHTSIDE-------------------------------------------*/




/*-----------------------------------------------FOOTER---------------------------------------------------------*/

.inner_footer_wrapper{
	margin-top:20px;
	background-color: #3368bd;
	border-radius: 15px;
}

.common_footer{
	padding: 37px 30px 45px 30px;
	overflow: hidden;
}

.footer_links{
	margin-top: 30px;
	overflow: hidden;
	padding-bottom: 20px;
	border-bottom: 1px solid #849db8;
}

.list_link:first-child{
	margin-left: 0px;
}

.list_link{
	float: left;
	margin-left:40px;

}

.list_link li{
	color:#fff;
}

.inside_list li{
	list-style-type: disc;
	margin-left: 19px;
	font-size: 13px;
	font-family: 'Arial',sans-serif;
	color:#fff;
}

.inside_list li a {
	margin-left: -8px;
	font-size: 11px;
	font-family: 'Arial',sans-serif;
	color:#fff;
}

.non_list_links{
	overflow: hidden;
	margin-left: 30px;
	float: left;
}
.non_list_links span{
	display: block;
	padding-top: 20px;
	font-size: 13px;
	font-family: 'Arial',sans-serif;
	color:#fff;

}
.non_list_links span:first-child{
	padding-top: 0px;
}

.copyright{
	margin-top: 20px;
	overflow: hidden;
}

.copyright p{
	padding-top: 20px;
	color:#eeeeee;
	font-size: 11px;
	font-family: 'Arial',sans-serif;
	float: left;
}


.go_top{
	float:right;
	position: relative;
	border-radius: 20px;
	background-color: #a5c9eb;
	width: 120px;
	height: 30px;
}

.go_top img{
	position: absolute;
	line-height: 30px;
	left: 30px;
	top:13px;
}
.go_top p{
	position: absolute;
	right: 30px;
	bottom: -10px;
	font-size: 16px;
	font-weight: bold;
}
.go_top a p:hover{
	color:#3368bd;
}



/*-----------------------------------------END FOOTER-----------------------------------------------------------*/





/*--------------------------------------------END CONTENT-------------------------------------------------------------------*







/**--------------------------------------------------ADAPTIVE*--------------------------------------------------*/


/*MEDIA  before 950 px*/
@media screen and (max-width: 950px){
	header nav ul {	text-align: center;}

	.wrapper{
		max-width: 768px; 
		margin: 0 auto;
		height: 100%;
		/*overflow: hidden;*/
	}

	/*MENU*/

	header nav ul li{
		margin-right: 10px;
	}


	/*SLIDER*/
	ul.slick-dots {
	    left: 15%;
	}


	/*HORIZONTAL MENU*/
	.horizontal_left img{
	  width: 100%;
	}

	.horizontal_right img{
	  width: 100%;
	  }

	.capital_p{
	  font-size: 14px;
	  text-align: center;
	}
	.uncapital_p{
	  font-size: 13px;
	  text-align: center;
	}


	/*FOOTER*/

	.list_link{
		margin-left:30px;
	}

	.list_link li{
		font-size: 12px;
	}

	.inside_list li{
		font-size: 11px;

	}

	.inside_list li a {
		font-size: 8px;

	}

	.non_list_links span{
		font-size: 11px;
	}

	.prev{
		width: 60px;
	}
	.next{
		width: 60px
	}

	.prev span {
		display: none;
	}

	.next span {
		display: none;
	}

}




/*-----------------------MEDIA  before 768 px------------------------------------*/
@media screen and (max-width: 768px){

.wrapper{
	max-width: 600px; 
	margin: 0 auto;
	height: 100%;
	/*overflow: hidden;*/
}


header nav ul li{
		font-size: 12pt;
}

.inside-wrapper .right{
	width: 28%;
	
}


/*MENU*/
	header .menu{height: auto;}
	header nav .show_menu{display:block;}
	header nav ul{display:none;} 
	header nav ul li{display: block; text-align: left; line-height: 20px;}
	
	/*header nav:hover .show_menu{display:none;}
	header nav:hover ul li {display: block;}*/


/*DROP MENU*/



header ul .dropdown li{
	display: none;
	line-height: 50px;
	margin-right: 20px;
	text-decoration: none;
	font-size: 15px;
	font-family: 'MetaPlusBook-Roman',sans-serif;
	/*position: static;*/
}

header ul .dropdown li {
    line-height: 19px;
    margin-left: 50px;
    width: 100%;
    
}

header ul .dropdown li a{
	display: block;
	color:#fff;
	font-size: 13px;
}
header ul.dropdown li:first-child {
    padding-top: 5px;
}



header ul.dropdown::after, header ul.dropdown::before {
    display: none;
}

/*header ul li:hover .dropdown li{
	display: block;
}*/

header ul .dropdown{
	background: none;
	border:none;
	position: static;
	
}
header ul.dropdown li:last-child {
    padding-bottom: 10px;}

/*SLIDER*/

ul.slick-dots {
    /*position: absolute;
    bottom: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 48px;
    padding: 0;
    margin: 0;

    list-style: none;*/
    text-align: center;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    border-radius: 0 0 20px 20px;

}

/*HORIZONTAL MENU*/
.capital_p{
  font-size: 13px;
  text-align: center;
}
.uncapital_p{
  font-size: 11px;
  text-align: center;
}


/*PAGES*/

.choise_page{
	width: 150px;
	
}

.title_pages p{
	font-size: 11px;
}
 
.count_pages p{
	font-size: 11px;

}

.num_pages{
	width: 50px;
}
.num_pages p{
	font-size: 11px;
	padding-left: 4px;
	padding-right: 4px;
}


/*SIDEBAR*/
.right_form form input{
	width: 90%;
	height: 30px
	
}

.horiz_rs_item p{
	font-size: 11px;
}
.number{
	font-size: 30px;
}

.nav_bar .blue_triangle span{
font-size: 12px;
}
.nav_bar .pink_triangle span{
font-size: 12px;
}


.nav_bar .green_triangle span{
font-size: 12px;
}
.nav_bar .orange_triangle span{
font-size: 11px;
}

.right_form form input::-webkit-input-placeholder {	padding-left: 20px; font-size: 14px}
.right_form form input::-moz-placeholder {padding-left: 20px; font-size:14px}

.text_rs_pearl {
    font-size: 12px;

}


 .cloud_tags ul li a.size1{
 	font-size: 12px;
  } 
  .cloud_tags ul li a.size2{
 	font-size: 14px;
  }    

.cloud_tags ul li a.size3{
 	font-size: 16px;
 	font-weight: bold;
  }    
   
.cloud_tags ul li a.size4{
 	font-size: 18px;
  }  



/*FOOTER*/
.list_link{
	margin-left:15px;
}

.list_link li{
	font-size: 12px;
}

.inside_list li{
	font-size: 11px;

}

.inside_list li a {
	font-size: 7px;

}

.non_list_links{
	display: none;
}

.non_list_links span{
	font-size: 10px;
}


}







/*MEDIA BEFORE 600px*/

@media screen and (max-width: 600px){


	header .menu{height: auto;}
	header nav .show_menu{display:block;}
	header nav ul{display:none;} 
	header nav ul li{display: block;}



/*  WRAPPERS*/
.wrapper{
	max-width: 500px; 
	margin: 0 auto;
	height: 100%;
	/*overflow: hidden;*/
}



.inside-wrapper .left {
    width: 85%;
    float: none;
    padding-right: 0px;
    margin: 0 auto;
}


.inside-wrapper .right{
	display: none;
	float: none;
	/*width: 85%;
	 margin: 0 auto;*/
}



/*Searcher*/
	header .search{
		margin: 0 auto;
		float: none;
		width: 50%;
	}




/*Img triangle*/

.menu li{
	text-align: left;
}






/*SLIDER*/
ul.slick-dots {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 48px;
    padding: 0;
    margin: 0;

    list-style: none;
    text-align: center;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    border-radius: 0 0 20px 20px;

}

/*END SLIDER*/


/*-----------------------------------------CONTENT------------------------------------------------------------*/

.capital_p{
	text-align: center;
}
.uncapital_p{
	text-align: center;
}

.horizontal_left{
	float:none;
	width: 100%;
}

.horizontal_left img{
	width: 100%;
}

.horizontal_right{
	float:none;
	width: 100%;
}
.horizontal_right img{
	width: 100%;
	/*margin: 0 auto;*/
}


/*PAGES*/

.choise_page{
	width: 110px;
	
}


.title_pages p{
	display: none;
}
 
.count_pages p{
	font-size: 11px;

}

.num_pages{
	width: 50px;
}
.num_pages p{
	font-size: 11px;
	padding-left: 4px;
	padding-right: 4px;
}




/*---------------------------------------END CONTENT----------------------------------------------------------*/






/*FOOTER*/
.common_footer{
	padding-bottom: 0px;
}

.list_link{
  display: none;
}

.footer_links{
	margin-top: 0px;
}
.copyright p{
	padding-top: 0px;
	float:none;
	text-align: center;

}
.go_top{
	float: none;
	margin: 0 auto;
	margin-bottom: 10px;
}

}



/*MEDIA BEFORE 480px*/
@media screen and (max-width: 480px){

.vertical_item img {
    float: none;
    text-align: center;
    margin-left: 30%;
    margin: 0 30%;
    width: 36%;
}

}


/**--------------------------------------------------END ADAPTIVE*-----------------------------------------------*/



/*Hack fo IE*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
 	header .search  input[type = "search"]{
	width: 73%;
	height: 24px;
	}

	.inside_list li a {
	margin-left: -2px;
	}
	
	:-ms-input-placeholder { color:#bbbbbb;
		font-family: sans-serif,serif;
		font-size: 20px;
		padding-left: 20px; 
	}

	/*.right_form form input{
		box-sizing: border-box;
	}	*/

	::-ms-clear {
	display: none;
	}


}

